<footer class="footer container">
    <div class="footer_tablet">
<div class="footer_top">
    <h2 class="footer_tilte"><span class="footer_chocolate">Chocolate</span> a delicious cure for a bad day</h2>
</div>
<div class="footer_flex">
    <div>
    <h3 class="footer_contacts">Contacts us</h3>
</div>
<div class="footer_social" >
    <ul class="footer_media"> 
        <li>
            <div>1
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </div>
        </li>
        <li>
            <div>
                11<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </div>
        </li>
    </ul>
</div>
</div>


    <address class="footer_address">

    
<ul class="fotter_links">
    <li><a href="tel:+380684439426" class="footer_contacts">+380 (68) 443-94-26</a></li>
    <li><a href="mailto:simplychoc@gmail.com" class="footer_contacts">simplychoc@gmail.com</a></li>
</ul>

</address>
</div>
<div>
   <ul class="footer_end">
    <li><a href="#" class="footer_list">Home</a></li>
    <li><a href="#" class="footer_list">How it’s made?</a></li>
    <li><a href="#" class="footer_list">Our products</a></li>
    <li><a href="#" class="footer_list">Top sellers</a></li>
    <li><a href="#" class="footer_list">Chocolate is loved</a></li>
   </ul>
</div>



</footer>