<footer class="footer">

    <h2>Chocolate a delicious cure for a bad day</h2>
    <div>
    <h3>Contacts us</h3>
    <ul>
        <li>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </div>
        </li>
        <li>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </div>
        </li>
    </ul>
</div>

    <address>

    
<ul>
    <li><a href="tel:+380684439426">+380 (68) 443-94-26</a></li>
    <li><a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>
</ul>
-----------------------------------------
</address>
<div>
   <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">How it’s made?</a></li>
    <li><a href="#">Our products</a></li>
    <li><a href="#">Top sellers</a></li>
    <li><a href="#">Chocolate is loved</a></li>
   </ul>
</div>



</footer>