<header class="header">
    <nav class="header-navigation">
        <div class="header-logo-link-container">
            <a class="header-logo-link" href="index.html"><span class="header-logo-link-span"><i>SIMPLY </i></span>CHOCOLATE</a>
            <svg class="header-logo-link-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <use href="images/icons.svg#icon-chocolate"></use>
            </svg>
        </div>
        <!--hamburger do mobile menu-->
        <button class="menu-toggle open js-open-menu">
            <svg class="header-navigation-hamburger-icons" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 16H28M4 8H28M4 24H28" stroke="#111111" stroke-width="2.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
        <!--//-->
        <ul class="header-navigation-ul">
            <li class="header-navigation-li"><a class="header-navigation-link" href="index.html">Home</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#hero-how-its-made-link">How it's made?</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#f_our">Our products</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#f_top">Top sellers</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#f_love">Chocolate is loved</a></li>
        </ul>
    </nav>
    <div class="header-social-media-icons-container">
        <ul class="header-social-media-icons-ul">
            <li class="header-social-media-icons-li">
                <a class="header-social-media-icons-link" href="https://www.instagram.com/" target="_blank">
                    <svg class="header-social-media-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-media-icons-li">
                <a class="header-social-media-icons-link" href="https://twitter.com/" target="_blank">
                    <svg class="header-social-media-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>

<!--menu mobilne-->
<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle close js-close-menu">
        <svg class="closebutton-mobile-menu" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" width="32"
            height="32">
            <path d="M22.6667 9.33325L9.33334 22.6666M9.33334 9.33325L22.6667 22.6666" stroke="white" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>
    <div class="mobile-menu-container">
        <ul class="mobile-menu-ul">
            <li class="mobile-menu-li"><a href="index.html" class="mobile-menu-link">Home</a></li>
            <li class="mobile-menu-li"><a href="#hero-how-its-made-link" class="mobile-menu-link">How it’s made?</a></li>
            <li class="mobile-menu-li"><a href="#f_our" class="mobile-menu-link">Our products</a></li>
            <li class="mobile-menu-li"><a href="#f_top" class="mobile-menu-link">Top sellers</a></li>
            <li class="mobile-menu-li"><a href="#f_love" class="mobile-menu-link">Chocolate is loved</a></li>
        </ul>
    </div>
    <div class="mobile-menu-social-media-icons">
        <ul class="mobile-menu-social-media-icons-ul">
            <li class="mobile-menu-social-media-icons-instagram">
                <a class="mobile-menu-social-media-icons-link" href="https://www.instagram.com/" target="_blank">
                    <svg class="mobile-menu-social-media-icons" width="24" height="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <use href="images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-menu-social-media-icons-twitter">
                <a class="mobile-menu-social-media-icons-link" href="https://twitter.com/" target="_blank">
                    <svg class="mobile-menu-social-media-icons" width="24" height="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <use href="images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>