<header class="header">
    <nav class="header-navigation">
        <div class="header-logo-link-container">
        <a class="header-logo-link" href="#"><span class="header-logo-link-span"><i>SIMPLY</i></span>CHOCOLATE</a>
            <svg class="header-logo-link-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <use href="images/icons.svg#icon-chocolate"></use>
            </svg>
        </div>
<!--hamburger do mobile menu-->
        <button class="menu-toggle open js-open-menu">
            <svg class="header-navigation-hamburger-icons" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
            <use href="images/icons.svg#icon-instagram"></use>
            </svg>
        </button>
<!--//-->
        <ul class="header-navigation-ul">
            <li class="header-navigation-li"><a class="header-navigation-link" href="#">Home</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#">How it's made?</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#">Our products</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#">Top sellers</a></li>
            <li class="header-navigation-li"><a class="header-navigation-link" href="#">Chocolate is loved</a></li>
        </ul>
    </nav>
    <div class="header-social-media-icons-container">
        <ul class="header-social-media-icons-ul">
            <li class="header-social-media-icons-li">
                <a class="header-social-media-icons-link" href="#">
                    <svg class="header-social-media-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-media-icons-li">
                <a class="header-social-media-icons-link" href="#">
                    <svg class="header-social-media-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                        <use href="images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>

<!--menu mobilne-->
<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle close js-close-menu">
        <svg class="closebutton-mobile-menu" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg"
            width="32" height="32">
            <use>

            </use>
        </svg>
    </button>
    <ul class="mobile-menu-ul">
        <li class="mobile-menu-li"><a href="" class="mobile-menu-link">Home</a></li>
        <li class="mobile-menu-li"><a href="" class="mobile-menu-link">How it’s made?</a></li>
        <li class="mobile-menu-li"><a href="" class="mobile-menu-link">Our products</a></li>
        <li class="mobile-menu-li"><a href="" class="mobile-menu-link">Top sellers</a></li>
        <li class="mobile-menu-li"><a href="" class="mobile-menu-link">Chocolate is loved</a></li>
    </ul>
</div>