<section class="section hero-background">
  <div class="container">
    <h1 class="visually-hidden">.</h1>
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
    </h2>
    <div class="hero-button-flex">
      <button class="hero-first-button" type="button">Buy now</button>
      <button class="hero-second-button" type="button">How it’s made</button>
    </div>
    <div class="hero-button-second-flex">
      <p class="hero-scroll-down">scroll down</p>
      <button type="button">
        <svg class="hero-button-icon" width="16" height="16">
          <use href="/src/images/hero/icons.svg#icon-fi-rr-angle-small-left"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
