<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:ital,wght@1,800&family=Roboto:ital,wght@1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="./chocolate.css"> -->
  </head>

  <body>
    <main>
      <section class="how-section">
        <div class="how-container">
          <div>
            <h2 class="how-header-title">
              HOW IT'S <span class="how-header-title how-made">MADE?</span>
            </h2>
            <!--<ul class="ul-style">
            <li class="chocolate-image"><img src="./images/imagex1.jpg" alt="picture with screen of chocloate preparing process"
                srcset="./images/imagex2.jpg" x2></li>
        </ul>-->
          </div>
          <div class="how-desktop">
            <div class="how-image"></div>
            <div class="how-info">
              <div class="how-container how-new">
                <h3 class="how-title">
                  Try our chocolates today and discover the perfect balance of flavor
                </h3>
              </div>
              <div class="how-text">
                <ul class="how-list">
                  <li class="how-description">
                    <p>
                      Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa
                      powder.
                    </p>
                  </li>
                  <li class="how-description">
                    <p>At the same time, prepare a water bath. Melt the butter on it.</p>
                  </li>
                  <li class="how-description">
                    <p>
                      "Mix" the milk mixture and already liquid butter. Mix thoroughly with a
                      silicone spatula so that the mass becomes uniform and silky.
                    </p>
                  </li>
                  <li class="how-description">
                    <p>Heat the mixture over low heat, letting it barely boil.</p>
                  </li>
                  <li class="how-description how-last">
                    <p>
                      Pour the chocolate into special containers (can be replaced with ice molds).
                      Allow to cool and harden.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
