<section class="container">
  <div>
    <a id="f_our"></a>
    <h2 class="our-title">Our <span class="our-title-products">Products</span></h2>
    
  
  </div>
</section>
<section class="container our-section-two">
  <div class="our-card">
    <ul class="our-list">
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/orange.jpg"
            alt="photo chocolate of orange taste"
            width="230"
            height="201"
            srcset="./images/our/orange.jpg 1x, ./images/our/orange2x.jpg 2x"
          />
          <h3 class="our-taste">ORANGE</h3>
          <p class="our-kind">Dark Chocolate</p>
          <div><button class="our-price">45 UAH</button></div>
        </div>
      </li>
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/applecranberry.jpg"
            alt="photo chocolate of aplle&cranberry taste"
            width="230"
            height="201"
            srcset="./images/our/applecranberry.jpg 1x, ./images/our/applecranberry2x.jpg 2x"
          />
          <h3 class="our-taste">APPLE&CRANBERRY</h3>
          <p class="our-kind">Milk Chocolate</p>
          <div><button class="our-price">50 UAH</button></div>
        </div>
      </li>
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/salt.jpg"
            alt="photo chocolate of lime&sea taste"
            width="230"
            height="201"
            srcset="./images/our/salt.jpg 1x, ./images/our/salt2x.jpg 2x"
          />
          <h3 class="our-taste">LIME&SEA SALT</h3>
          <p class="our-kind">Dark Chocolate</p>
          <div><button class="our-price">66 UAH</button></div>
        </div>
      </li>
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/pineapple.jpg"
            alt="photo chocolate of pineapple taste"
            width="230 height201"
            srcset="./images/our/pineapple.jpg 1x, ./images/our/pineapplex2.jpg 2x"
          />
          <h3 class="our-taste">PINEAPPLE</h3>
          <p class="our-kind">Dark Chocolate</p>
          <div><button class="our-price">54 UAH</button></div>
        </div>
      </li>
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/classic.jpg"
            alt="photo chocolate of classic taste"
            width="230"
            height="201"
            srcset="./images/our/classic.jpg 1x, ./images/our/classicx2.jpg 2x"
          />
          <h3 class="our-taste">CLASSIC</h3>
          <!--START DRUGIEJ STRONY-->
          <p class="our-kind">Milk Chocolate</p>
          <div><button class="our-price">45 UAH</button></div>
        </div>
      </li>
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/honey.jpg"
            alt="photo chocolate of honey taste"
            width="230"
            height="201"
            srcset="./images/our/honey.jpg 1x, ./images/our/honey2x.jpg 2x"
          />
          <h3 class="our-taste">HONEY</h3>
          <p class="our-kind">Milk Chocolate</p>
          <div><button class="our-price">50 UAH</button></div>
        </div>
      </li>
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/roast.jpg"
            alt="photo chocolate of roast fruit taste"
            width="230"
            height="201"
            srcset="./images/our/roast.jpg 1x, ./images/our/roast2x.jpg 2x"
          />
          <h3 class="our-taste">ROASTED FRUITS</h3>
          <p class="our-kind">Dark Chocolate</p>
          <div><button class="our-price">66 UAH</button></div>
        </div>
      </li>
      <li class="our-li">
        <div class="our-div">
          <img
            src="./images/our/white.jpg"
            alt="photo chocolate of white classic taste"
            width="230"
            height="201"
            srcset="./images/our/white.jpg 1x, ./images/our/white2x.jpg 2x"
          />
          <h3 class="our-taste">CLASSIC</h3>
          <p class="our-kind">White Chocolate</p>
          <div><button class="our-price">54 UAH</button></div>
        </div>
      </li>
    </ul>
  </div>
</section>
