<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@800&family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
    <link rel="stylesheet" href="./our-products.css" />
</head>

<body>
    <main class="container">
        <section>
            <div>
                <h2 class="our-title">Our <span class="our-title-products">Products</span></h2>
            </div>
        </section>
        <section>
            <div class="our-card">
                <ul class="our-list">
                    <li>
                        <img src="./images/our/orange.jpg" alt="photo chocolate of orange taste" width="230"
                            height="201" srcset="./Images/our/orange.jpg 1x, /Images/our/orange2x.jpg 2x" />
                        <h3>ORANGE</h3>
                        <p>Dark Chocolate</p>
                        <div><button>45 UAH</button></div>
                    </li>
                    <li>
                        <img src="./images/our/applecranberry.jpg" alt="photo chocolate of aplle&cranberry taste"
                            width="230" height="201"
                            srcset="./Images/our/applecranberry.jpg 1x, ./Images/our/applecranberry2x.jpg 2x" />
                        <h3>APPLE&CRANBERRY</h3>
                        <p>Milk Chocolate</p>
                        <div><button>50 UAH</button></div>
                    </li>
                    <li>
                        <img src="./images/our/salt.jpg" alt="photo chocolate of lime&sea taste" width="230"
                            height="201" srcset="./Images/our/salt.jpg 1x, ./Images/our/salt2x.jpg 2x" />
                        <h3>LIME&SEA SALT</h3>
                        <p>Dark Chocolate</p>
                        <div><button>66 UAH</button></div>
                    </li>
                    <li>
                        <img src="./images/our/pineapple.jpg" alt="photo chocolate of pineapple taste"
                            width="230 height201"
                            srcset="./Images/our/pineapple.jpg 1x, ./Images/our/pineapplex2.jpg 2x" />
                        <h3>PINEAPPLE</h3>
                        <p>Dark Chocolate</p>
                        <div><button>54 UAH</button></div>
                    </li>
                    <li>
                        <img src="./images/our/classic.jpg" alt="photo chocolate of classic taste" width="230"
                            height="201" srcset="./Images/our/classic.jpg 1x, ./Images/our/classicx2.jpg 2x" />
                        <h3>CLASSIC</h3> <!--START DRUGIEJ STRONY-->
                        <p>Milk Chocolate</p>
                        <div><button>45 UAH</button></div>
                    </li>
                    <li>
                        <img src="./images/our/honey.jpg" alt="photo chocolate of honey taste" width="230" height="201"
                            srcset="./Images/our/honey.jpg 1x, ./Images/our/honey2x.jpg 2x" />
                        <h3>HONEY</h3>
                        <p>Milk Chocolate</p>
                        <div><button>50 UAH</button></div>
                    </li>
                    <li>
                        <img src="./images/our/roast.jpg" alt="photo chocolate of roast fruit taste" width="230"
                            height="201" srcset="./Images/our/roast.jpg 1x, ./Images/our/roast2x.jpg 2x" />
                        <h3>ROASTED FRUITS</h3>
                        <p>Dark Chocolate</p>
                        <div><button>66 UAH</button></div>
                    </li>
                    <li>
                        <img src="./images/our/white.jpg" alt="photo chocolate of white classic taste" width="230"
                            height="201" srcset="./Images/our/white.jpg 1x, ./Images/our/white2x.jpg 2x" />
                        <h3>CLASSIC</h3>
                        <p>White Chocolate</p>
                        <div><button>54 UAH</button></div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>

</html>