<section class="review-section">
    <div class="container review-containter">
        <h2 class="review-title">chocolate <span class="review-title-black">is loved</span></h2>
        <ul class="review-content-list">
            <li class="review-content-box">
                <img class="review-person-photo" src="./images/reviews/Ellipse.jpg"
                    srcset="./images/reviews/Ellipse@2x.jpg"
                    alt="smiling woman"
                    width="80">
                <h3 class="review-person-name">Victoria Dobrzhanska</h3>
                <p class="review-content">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                thin layer chocolate.</p>
            </li>
            <li class="review-content-box">
                <img class="review-person-photo" src="./images/reviews/Ellipse-2.jpg" srcset="./images/reviews/Ellipse-2@2x.jpg"
                  alt="smiling man" width="80">
                 <h3 class="review-person-name">Nazar Babenko</h3>
                 <p class="review-content">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
                    chocolate is good.</p>
            </li>
            <li class="review-content-box">
                <img class="review-person-photo" src="./images/reviews/Ellipse-3.jpg" srcset="./images/reviews/Ellipse-3@2x.jpg"
                alt="smiling woman" width="80">
                <h3 class="review-person-name">Olena Kampusch</h3>
                <p class="review-content">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
                but crunchy.</p>
            </li>
        </ul>
        <button class="review-button" type="button" reviews-data-modal-open>Leave a review</button>
    </div>
</section>
<div class="review-modal-window is-hidden" reviews-data-modal>
    <div class="review-modal-body">
        <button class="review-modal-close" reviews-data-modal-close type="button">
            <svg class="review-close-icon" fill="currentcolor" width="24" height="24"
                xlmns="http://www.w3.org/2000/svg">
                <use href="./images/icons.svg#icon-Icon"></use>
            </svg>
        </button>
        <form name="Reviews" class="review-form">
            <div role="group" arial-labelby="reviews-head">
                <p id="reviews-head" class="review-modal-window-title">
                leave a review about <span class="review-modal-window-title-color">our chocolate</span>
                </p>
                <label class="review-visually-hidden" for="user-name">Name</label>
                <input class="review-modal-form-field" type="text" name="user-name" id="user-name" placeholder="Name"
                required/>
                <label class="review-visually-hidden" for="email">Email</label>
                <input class="review-modal-form-field" type="email" name="email" id="email" placeholder="Enter your email"
                required/>
                <div class="review-modal-form-phone-field">
                    <label class="review-visually-hidden" for="phone">Phone number</label>
                     <input class="review-modal-form-field" type="tel" name="phone" id="phone" placeholder="Phone number"
                    required/>
                    <div class="review-modal-form-icon">
                        <svg class="review-flag-icon" width="24" height="18" xmlns="http://www.w3.org/2000/svg">
                            <use href="./images/icons.svg#icon-Frame"></use>
                        </svg>
                    <p class="review-modal-phone">+380</p>
                </div>
                </div>
                <label class="review-visually-hidden" for="user-comment">Comment</label>
                <textarea class="review-modal-text-field" name="user-comment" id="user-comment"
                placeholder="Enter text"></textarea>
            </div>
            <button class="review-modal-button" data-modal-close type="submit">Send</button>
        </form>
    </div>
</div>