<section class="review-section">
    <div class="container review-containter">
        <h2 class="review-title">chocolate <span class="review-title-black">is loved</span></h2>
        <div class="review-content-box">
            <h3 class="review-person-name">Victoria Dobrzhanska</h3>
            <p class="review-content">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                thin layer chocolate.</p>
        </div>
        <button data-modal-open class="review-button" type="button">Leave a review</button>
    </div>
</section>