<section class="subscribe-title-section subscribe-section">
  <div class="container">
    <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="subscribe-paragraph">
      From the velvety texture to the rich and complex flavor, our New Chocolate is a true
      indulgence that will leave you craving more. Made with only the finest ingredients and
      handcrafted with the utmost care, each piece is a work of art that is sure to please.
    </p>
    <button class="subscribe-button" type="button" data-modal-open>Subscribe</button>
  </div>
</section>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="close-icon" width="24" height="24">
        <use href="./images/symbol-defs-x.svg#icon-close-black-18dp-2-1" />
      </svg>
    </button>
    <div class="subscribe-image">
      <h2 class="subscribe-title">
        EXPLORE OUR <br /><span class="orange-span">NEW CHOCOLATE</span>FIRST!
      </h2>

      <form class="modal-form">
        <label class="modal-label" for="email">
          <input
            required
            class="modal-input"
            id="user-email"
            name="email"
            type="email"
            placeholder="Enter your email"
            ;
          />
        </label>
        <button class="subscribe-modal-button" ; type="submit">Submit</button>;
      </form>
    </div>
  </div>
</div>
