<section class="container top_seler">
    <div class="ts_tilte">
    <h2 class="ts_top"><span class="ts_topp">TOP</span> SELLERS</h2>
</div>
<div class="ts_flex">

    <div class="ts_fot">
    <img src="images/ts/ts01.jpg" class="ts_photo" alt="chocolate">

    
    <div class="ts_textt">    
<h2 class="ts_text"> test Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</h2>
</div>
</div>
<div>


<ul class="ts_desktop">
    <li><img src="images/ts/ts02.jpg" class="ts_photo" alt="chockolate"></li>
    <li><img src="images/ts/ts03.jpg" class="ts_photo ts_hidden" alt="chockolate"></li>
</ul>
<div >
<div class="ts_first">
    <button class="ts_second" type="button" data-modal-open>Buy now</button>
    
  </div>
</div>

</div>

</div>


</section>
