<section class="container">
    <div class="ts_tilte">
    <h2 class="ts_top"><span class="ts_topp">TOP</span> SELLERS</h2>
</div>
    <img src="images/ts/ts01.jpg" class="ts_photo" alt="">
    <div class="ts_textt">    
<h2 class="ts_text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</h2>
</div>
<ul>
    <li><img src="images/ts/ts02.jpg" class="ts_photo" alt="chockolate"></li>
    <li><img src="images/ts/ts03.jpg" class="ts_photo ts_hidden" alt=""></li>
</ul>
<div >
<div class="ts_first">
    <button class="ts_second" type="button" data-modal-open>Buy now</button>
    
  </div>
</div>



</section>