<section class="unique-components">
    <h2 class="unique-components-h2">IT ALL ADDS UP TO ONE EXCEPTIONAL <span
            class="unique-components-h2-span">TASTE</span> SENSATION</h2>
    <p class="unique-components-h2-paragraf">At Simply Chocolate, we believe that the secret to exceptional chocolate is
        in the details. From the sourcing of the
        finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
        exceptional taste sensation.</p>
    <ul class="unique-components-ul-desktop">
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img"
                    src="images/unique-components/chocolate-cubes-desktop.png"
                    alt="milk chocolate cubes lying on top of each other" width="206" height="160">
                <p class="unique-components-li-container-paragraf milk-chocolate">MILK CHOCOLATE</p>
            </div>
        </li>
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img"
                    src="images/unique-components/bottle-of-milk-desktop.png" alt="glass bottle full of milk"
                    width="206" height="160">
                <p class="unique-components-li-container-paragraf milk">MILK</p>
            </div>
        </li>
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img" src="images/unique-components/hazelnuts-desktop.png"
                    alt="four hazelnuts" width="206" height="160">
                <p class="unique-components-li-container-paragraf nuts">NUTS</p>
            </div>
        </li>
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img" src="images/unique-components/chocolates-desktop.png"
                    alt="lots of little chocolates" width="206" height="160">
                <p class="unique-components-li-container-paragraf semi-sweet-chocolate">SEMI - SWEET CHOCOLATE</p>
            </div>
        </li>
    </ul>
</section>