<section class="unique-components">
    <h2 class="unique-components-h2">IT ALL ADDS UP TO ONE EXCEPTIONAL <span
            class="unique-components-h2-span">TASTE</span> SENSATION</h2>
    <p class="unique-components-h2-paragraf">At Simply Chocolate, we believe that the secret to exceptional chocolate is
        in the details. From the sourcing of the
        finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
        exceptional taste sensation.</p>
    <ul class="unique-components-ul">
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img-desktop"
                    src="images/unique-components/chocolate-cubes-desktop.png" srcset="images/unique-components/chocolate-cubes-desktop@2x.png 2x"
                    alt="milk chocolate cubes lying on top of each other" width="206" height="160">
                <img class="unique-components-li-container-img-mobile" 
                    src="images/unique-components/chocolate-cubes-mobile.png" srcset="images/unique-components/chocolate-cubes-mobile@2x.png 2x"
                    alt="milk chocolate cubes lying on top of each other" width="224" height="171">
                <p class="unique-components-li-container-paragraf milk-chocolate">MILK CHOCOLATE</p>
                <div class="unique-components-slider">
                    <h3 class=" unique-components-slider-h3">MILK CHOCOLATE</h3>
                    <ul class="unique-components-slider-buttons-ul">
                        <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">chocolate</button></li>
                        <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">the benefits</button></li>
                    </ul>
                    <p class="unique-components-slider-paragraf">Milk chocolate is a solid chocolate confectionery containing cocoa, 
                        sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed 
                        as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                </div>
            </div>
        </li>
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img-desktop"
                    src="images/unique-components/bottle-of-milk-desktop.png" srcset="images/unique-components/bottle-of-milk-desktop@2x.png 2x"
                    alt="glass bottle full of milk" width="206" height="160">
                <img class="unique-components-li-container-img-mobile" 
                    src="images/unique-components/bottle-of-milk-mobile.png" srcset="images/unique-components/bottle-of-milk-mobile@2x.png 2x"
                    alt="milk chocolate cubes lying on top of each other" width="224" height="171">
                <p class="unique-components-li-container-paragraf milk">MILK</p>
                <div class="unique-components-slider">
                <h3 class=" unique-components-slider-h3">MILK</h3>
                <ul class="unique-components-slider-buttons-ul">
                    <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">milk</button></li>
                    <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">the benefits</button>
                    </li>
                </ul>
                <p class="unique-components-slider-paragraf">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young
                mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is
                called colostrum, contains antibodies that strengthen the immune system.</p>
                </div>
            </div>
        </li>
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img-desktop" 
                    src="images/unique-components/hazelnuts-desktop.png" srcset="images/unique-components/hazelnuts-desktop@2x.png 2x"
                    alt="four hazelnuts" width="206" height="160">
                <img class="unique-components-li-container-img-mobile" 
                    src="images/unique-components/hazelnuts-mobile.png" srcset="images/unique-components/hazelnuts-mobile@2x.png 2x"
                    alt="milk chocolate cubes lying on top of each other" width="224" height="171">
                <p class="unique-components-li-container-paragraf nuts">NUTS</p>
                <div class="unique-components-slider">
                    <h3 class=" unique-components-slider-h3">NUTS</h3>
                    <ul class="unique-components-slider-buttons-ul">
                        <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">nuts</button></li>
                        <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">the benefits</button>
                        </li>
                    </ul>
                    <p class="unique-components-slider-paragraf">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a
                    nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source
                    of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                </div>
            </div>
        </li>
        <li class="unique-components-li">
            <div class="unique-components-li-container">
                <img class="unique-components-li-container-img-desktop" 
                    src="images/unique-components/chocolates-desktop.png" srcset="images/unique-components/chocolates-desktop@2x.png 2x"
                    alt="lots of little chocolates" width="206" height="160">
                <img class="unique-components-li-container-img-mobile" 
                    src="images/unique-components/chocolates-mobile.png" srcset="images/unique-components/chocolates-mobile@2x.png 2x"
                    alt="milk chocolate cubes lying on top of each other" width="224" height="171">
                <p class="unique-components-li-container-paragraf semi-sweet-chocolate">SEMI - SWEET CHOCOLATE</p>
                <div class="unique-components-slider">
                    <h3 class=" unique-components-slider-h3">SEMI - SWEET CHOCOLATE</h3>
                    <ul class="unique-components-slider-buttons-ul">
                        <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">sweet chocolate</button></li>
                        <li class="unique-components-slider-buttons-li"><button class="slider-button" type="button">the
                                benefits</button>
                        </li>
                    </ul>
                    <p class="unique-components-slider-paragraf">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type
                    of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
                    comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
                </div>
            </div>
        </li>
    </ul>
</section>