<section class="unique-components">
    <h2 class="unique-components-h2">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-components-h2-span">TASTE</span> SENSATION</h2>
    <p class="unique-components-h2-paragraf">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the
    finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.</p>

<!--kafelki desktop-->
    <ul class="unique-components-ul-desktop">
        <li class="unique-components-li">
            <svg width="270" height="270">
                <rect width="270" height="270" fill="var(--color-four)" rx="15"/>
            </svg>
        </li>
        <li class="unique-components-li">
            <svg width="270" height="270">
                <rect width="270" height="270" fill="var(--color-two)" stroke="var(--color-four)" stroke-width="1" rx="15" />
            </svg>
        </li>
        <li class="unique-components-li">
            <svg width="270" height="270">
                <rect width="270" height="270" fill="var(--color-ten)" rx="15" />
            </svg>
        </li>
        <li class="unique-components-li">
            <svg width="270" height="270">
                <rect width="270" height="270" fill="var(--color-two)" stroke="var(--color-four)" stroke-width="1" rx="15" />
            </svg>
        </li>
    </ul>
<!--//-->

<!--kafelki mobile-->
<ul class="unique-components-ul-mobile">
    <li class="unique-components-li">
        <svg width="336" height="270">
            <rect width="336" height="270" fill="var(--color-four)" rx="15" />
        </svg>
    </li>
    <li class="unique-components-li">
        <svg width="336" height="270">
            <rect width="336" height="270" fill="var(--color-two)" stroke="var(--color-four)" stroke-width="1"
                rx="15" />
        </svg>
    </li>
    <li class="unique-components-li">
        <svg width="336" height="270">
            <rect width="336" height="270" fill="var(--color-ten)" rx="15" />
        </svg>
    </li>
    <li class="unique-components-li">
        <svg width="336" height="270">
            <rect width="336" height="270" fill="var(--color-two)" stroke="var(--color-four)" stroke-width="1"
                rx="15" />
        </svg>
    </li>
</ul>
<!--//-->

</section>