.container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
}

.advantages-section {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 72px;
    background-color: var(--color-ten);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.advantages-list-element {
    padding-right: 28px;
    position: relative;
    width: 308px;
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 22px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.advantages-text-head {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
    line-height: normal;
    color: var(--color-two);
}

.advantages-text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
    width: 308px;
    color: var(--color-nine);
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .advantages-section {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 100px;
    }

    .advantages-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .advantages-line {
        height: 124px;
        width: 326px;
        border-right: 1px solid var(--color-nine);
        position: absolute;
        top: 60px;
    }

    .advantages-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 88px;
    }

    .advantages-list:first-child {
        margin-left: 18px;
    }

    .advantages-list:last-child {
        margin-right: 18px;
    }
}