:root{
    --color-one:#111111;
    --color-two:#FFFFFF;
    --color-three:#1111111A;
    --color-four:#FD9222;
    --color-five:#111111B2;
    --color-six:#4C4C4C;
    --color-seven:#ECEDED;
    --color-eight:#FAFAFA;
    --color-nine:#FFFFFF80;
    --color-ten:#1E1823;
    --color-eleven:#FFFFFFB2;
    --color-twelve:#FCF1E0;
    --color-thirteen:#000000;
    --color-fourteen:#00000066;
    --color-fifteen:#00000033;
    --color-sixteen:#11111100;
    --color-seventeen:#F5F4F4;
    --color-eighteen:#FFFFFF1A;
}