* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .footer
  {
  background-color:#1E1823;;
  }


  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
  @media screen and (min-width: 375px) {
    .container {
      width: 428px;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
    }
  }