/*mobile*/
@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo-link-container {
        display: flex;
        align-items: center;
    }

    .header-logo-link {
        text-decoration: none;
        color: var(--color-one);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.42px;
        margin-left: 20px;
        margin-top: 25px;
        margin-right: 4px;
        margin-bottom: 19px;
    }

    .header-logo-link-icons {
        stroke: var(--color-four);
        margin-right: 138px;
    }

    /*hamburger do mobile menu*/

    .menu-toggle.open {
        margin-right: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
    }

    .js-menu-container {
        background-color: var(--color-ten);
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }

    .js-menu-container.is-open {
        transform: translateX(0);
    }

    .menu-container {
        display: flex;
        justify-content: center;
    }

    .menu-toggle.close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        opacity: 0, 1;
    }

    .mobile-menu-ul {
        margin-top: 136px;
    }

    .mobile-menu-link {
        color: var(--color-two);
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;
        display: block;
        margin-bottom: 24px;
    }

    .mobile-menu-social-media-icons-instagram {
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .mobile-menu-social-media-icons-twitter {
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 60px;
    }

    .header-navigation-hamburger-icons {
        fill: var(--color-one);
    }

    .header-navigation-ul {
        display: none;
    }

    .header-social-media-icons-ul {
        display: none;
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo-link-container {
        display: flex;
        align-items: center;
    }

    .header-logo-link {
        text-decoration: none;
        color: var(--color-one);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.42px;
        margin-left: 32px;
        margin-top: 31px;
        margin-bottom: 31px;
        margin-right: 4px;
    }

    .header-logo-link-icons {
        stroke: var(--color-four);
        margin-right: 503px;
    }

    /*hamburger do mobile menu*/

    .menu-toggle.open {
        margin-right: 32px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
    }

    .menu-toggle.open {
        margin-right: 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
    }

    .js-menu-container {
        background-color: var(--color-ten);
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        color: var(--color-two);
    }

    .js-menu-container.is-open {
        transform: translateX(0);
    }

    .menu-toggle.close {
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 32px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        opacity: 0, 1;
    }

    .menu-container {
        display: flex;
        justify-content: center;
    }

    .mobile-menu-ul {
        margin-top: 156px;
    }

    .mobile-menu-link {
        color: var(--color-two);
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;
        display: block;
        margin-bottom: 24px;
    }

    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color: var(--color-four);
    }

    .header-navigation-hamburger-icons {
        fill: var(--color-one);
    }

    .header-navigation-ul {
        display: none;
    }

    .header-social-media-icons-ul {
        display: none;
    }

    .mobile-menu-social-media-icons-instagram {
        cursor: pointer;
        position: absolute;
        bottom: 24px;
        left: 32px;
    }

    .mobile-menu-social-media-icons-twitter {
        cursor: pointer;
        position: absolute;
        bottom: 24px;
        left: 74px;
    }
}

/*desktop*/
@media (min-width: 1200px) {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: baseline;
    }

    .header-logo-link-container {
        display: flex;
        align-items: center;
    }

    .header-logo-link {
        text-decoration: none;
        color: var(--color-one);
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.54px;
        margin-left: 32px;
        margin-right: 4px;
    }

    .header-logo-link-icons {
        stroke: var(--color-four);
        margin-right: 188px;
    }

    /*hamburger do mobile menu*/

    .menu-toggle {
        display: none;
    }

    .js-menu-container {
        display: none;
    }

    .header-navigation-ul {
        list-style: none;
        display: flex;
        gap: 24px;
        margin-top: 28px;
        margin-bottom: 36px;
    }

    .header-navigation-link {
        text-decoration: none;
        color: var(--color-one);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;
    }

    .header-social-media-icons-ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin-left: 137px;
        gap: 18px;
        margin-right: 32px;
    }

    .header-social-media-icons {
        fill: var(--color-one);
        stroke: var(--color-two);
        stroke-width: 2px;
    }

    .header-social-media-icons:hover,
    .header-social-media-icons:focus {
        fill: var(--color-four);
    }
}