:root {
  --main-text-color: #fff;
  --main-company-color: #fd9222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------------------------- MOBILE (to 375px - not responsive) -----------------------------------------*/

.hero-section {
  width: 374px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 72px;
}

.hero-background {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
    url(../images/hero/chocolate-covered-cocoa-powder.jpg),
    lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
  background-image: url(../images/hero/chocolate-covered-cocoa-powder.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 395px;
  padding-bottom: 72px;
  height: 621px;
  margin: 0 auto;
  border-radius: 30px;
}

.hero-title {
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -0.6px;
  width: 295px;
  height: 72px;
  margin-bottom: 32px;
}

.hero-button-flex {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 32px;
}

.hero-buttons {
  width: 295px;
}

.hero-first-button {
  border-radius: 100px;
  background: var(--main-company-color);
  border: none;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  cursor: pointer;
}

.hero-first-button:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-second-button {
  border-radius: 100px;
  border: 1px solid var(--main-text-color);
  background: transparent;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 159px;
  height: 41px;
  cursor: pointer;
}

.hero-second-button:hover {
  background-color: #fafafa;
  color: #fd9222;
  border: 1px solid #fd9222;
}

.hero-button-second-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.hero-scroll-down {
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16em;
  letter-spacing: -0.36px;
  background: transparent;
}

.hero-button-icon {
  width: 28px;
  height: 28px;
  background-color: var(--main-text-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.hero-button-vector {
  width: 16px;
  height: 16px;
}

/* ----------------------- DATA MODAL WINDOW ------------------------ */

.data-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #fafafa;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding: 0 24px;
  height: 994px;
  overflow: scroll;
  z-index: 10;
}

.hero-modal-close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: var(--background-color-2);
  fill: var(--main-page-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-logo {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  padding: 32px 0;
}

.hero-logo {
  color: #111;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.hero-modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  margin-bottom: 32px;
}

.hero-modal-choco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  width: 263px;
  height: 85px;
  padding: 0 16px;
  margin-bottom: 8px;
}

.hero-modal-choco-button {
  padding: 6px 16px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}

.hero-modal-labels {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16em;
  letter-spacing: -0.24px;
}

.hero-modal-input {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  width: 263px;
  height: 45px;
  padding-left: 18px;
  cursor: pointer;
}

.hero-modal-textarea {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  width: 263px;
  min-height: 91px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  padding-left: 18px;
  padding-top: 16px;
  cursor: pointer;
}

.hero-modal-input:focus,
.hero-modal-textarea:focus,
.hero-modal-input:hover,
.hero-modal-textarea:hover {
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.hero-modal-first-box {
  margin-bottom: 18px;
}

.hero-modal-second-box {
  margin-top: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-modal-third-box {
  margin-top: 14px;
}

.hero-modal-form-icon {
  position: absolute;
  top: 10px;
  left: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 25px;
  width: 74px;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}

.hero-modal-phone {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.hero-mastercard-icon {
  position: absolute;
  top: 2px;
  left: 200px;
  width: 32px;
  height: 21px;
}

.hero-modal-form-icon {
  position: absolute;
  top: 10px;
  left: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 25px;
  width: 74px;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}

.hero-modal-phone {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.hero-modal-submit-button {
  border-radius: 100px;
  background: #fd9222;
  border: none;
  display: flex;
  justify-content: center;
  width: 109px;
  height: 41px;
  margin-bottom: 32px;
}

.hero-send {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

/* -------------------------------------------- MOBILE (responsive) ---------------------------------------------------*/

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 767px;
  }

  .image {
    width: 100%;
  }
}

/* --------------------------------------------------- TABLET --------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
    padding-bottom: 72px;
  }

  .container {
    margin: 0 auto;
    padding: 0 32px;
  }

  .hero-background {
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
      url('../images/hero/chocolate-covered-cocoa-powder-tablet.jpg'),
      lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
    background-image: url('../images/hero/chocolate-covered-cocoa-powder-tablet.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 671px;
    padding-right: 180px;
    height: 890px;
    margin: 0 auto;
    border-radius: 30px;
  }

  .hero-title {
    color: var(--main-text-color);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21em;
    letter-spacing: -0.84px;
    width: 484px;
    padding-left: 40px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 624px;
  }

  .hero-button-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 14px;
    padding-left: 40px;
    width: 624px;
  }

  .hero-first-button {
    border-radius: 100px;
    background: #fd9222;
    border: none;
    color: var(--main-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 144px;
    height: 45px;
    cursor: pointer;
  }

  .hero-second-button {
    border-radius: 100px;
    border: 1px solid var(--main-text-color);
    background: transparent;
    color: var(--main-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 183px;
    height: 45px;
    cursor: pointer;
  }

  .hero-button-third-flex {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 153px;
  }

  .hero-button-second-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }

  .hero-scroll-down {
    color: var(--main-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28em;
    letter-spacing: -0.42px;
    background: transparent;
    width: 78px;
  }

  .hero-button-icon {
    width: 38px;
    height: 38px;
    border: none;
    cursor: pointer;
  }

  .hero-button-vector {
    width: 22px;
    height: 22px;
  }

  .hero-mastercard-icon {
    position: absolute;
    top: 2px;
    left: 450px;
    width: 32px;
    height: 21px;
  }

  /*----------------- OKNO MODALNE TABLET ------------------*/

  .hero-modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #fafafa;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    padding: 0 24px;
    height: 1058px;
    overflow: scroll;
    z-index: 10;
  }

  .hero-modal-list {
    margin-bottom: 40px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .hero-modal-choco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 160px;
    height: 196px;
  }

  .hero-modal-choco-button {
    padding: 8px 27px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fafafa;
  }

  .hero-modal-labels {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28em;
    letter-spacing: -0.28px;
  }

  .hero-modal-input {
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    width: 513px;
    height: 66px;
    padding-left: 24px;
    cursor: pointer;
  }

  .hero-modal-textarea {
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    width: 513px;
    min-height: 137px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    resize: none;
    padding-left: 24px;
    padding-top: 22px;
    cursor: pointer;
  }

  .hero-modal-input:focus,
  .hero-modal-textarea:focus,
  .hero-modal-input:hover,
  .hero-modal-textarea:hover {
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  }

  .hero-modal-first-box {
    margin-bottom: 18px;
  }

  .hero-modal-second-box {
    margin-top: 8px;
  }

  .hero-modal-form-icon {
    position: absolute;
    top: 20px;
    left: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 25px;
    width: 74px;
    border-right: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  .hero-modal-submit-button {
    border-radius: 100px;
    background: #fd9222;
    border: none;
    display: flex;
    justify-content: center;
    width: 133px;
    height: 45px;
    margin-bottom: 48px;
  }

  .hero-send {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
  }

  .hero-button-third-flex {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 153px;
  }
}

/* --------------------------------------------------- DESKTOP --------------------------------------------------------*/

@media screen and (min-width: 1200px) {
  .hero-section {
    width: 768px;
    padding-bottom: 72px;
  }

  .container {
    margin: 0 auto;
    padding: 0 32px;
  }

  .hero-background {
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
      url('../images/hero/chocolate-covered-cocoa-powder-desktop.jpg'),
      lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
    background-image: url('../images/hero/chocolate-covered-cocoa-powder-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 381px;
    padding-right: 180px;
    width: 1136px;
    height: 600px;
    margin: 0 auto;
    border-radius: 30px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 1056px;
  }

  .hero-button-flex {
    width: 1056px;
  }

  .hero-button-third-flex {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 585px;
  }

  .hero-first-button {
    border-radius: 100px;
    background: var(--main-company-color);
    border: none;
    color: var(--main-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 144px;
    height: 45px;
    cursor: pointer;
  }

  .hero-second-button {
    border-radius: 100px;
    border: 1px solid var(--main-text-color);
    background: transparent;
    color: var(--main-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 183px;
    height: 45px;
    cursor: pointer;
  }

  .hero-scroll-down {
    color: var(--main-text-color);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28em;
    letter-spacing: -0.42px;
    background: transparent;
  }

  .hero-button-third-flex {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 585px;
  }
}
