:root {
  --main-text-color: #fff;
  --main-company-color: #fd9222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------------------------- MOBILE (to 375px - not responsive) -----------------------------------------*/

.section {
  width: 374px;
  padding-left: 20px;
  padding-bottom: 72px;
  padding-left: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.hero-background {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
    url(<path-to-image>), lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
  background-image: url(../images/hero/cocoa-powder-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 395px;
  padding-bottom: 72px;
  width: 100%;
  height: 621px;
  margin: 0 auto;
  border-radius: 50px;
}

.hero-title {
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -0.6px;
  width: 295px;
  height: 72px;
  margin-bottom: 32px;
}

.hero-button-flex {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 32px;
}

.hero-first-button {
  border-radius: 100px;
  background: var(--main-company-color);
  border: none;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
}

.hero-second-button {
  border-radius: 100px;
  border: 1px solid var(--main-text-color);
  background: transparent;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  width: 159px;
  height: 41px;
}

.hero-button-second-flex {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 21px;
}

.hero-scroll-down {
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16em;
  letter-spacing: -0.36px;
}

.hero-button-icon {
  width: 28px;
  height: 28px;
  background-color: var(--main-text-color);
  border-radius: 100px;
  border: none;
}

/* -------------------------------------------- MOBILE (responsive) ---------------------------------------------------*/

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 767px;
  }

  .image {
    width: 100%;
  }
}

/* --------------------------------------------------- TABLET --------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* --------------------------------------------------- DESKTOP --------------------------------------------------------*/

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
