.review-modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: all;
    background-color: rgba(46, 47, 66, 0.6);
}
.review-modal-window.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.review-modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    height: 471px;
    background-color: var(--color-eight);
    border-radius: 15px;
    padding: 32px 24px;
    transition: transform 250ms;
}
.review-close-icon {
    fill: currentColor;
}
.review-modal-close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--color-one);
    cursor: pointer;
    padding: 5px;
}
.review-modal-close:focus,
.review-modal-close:hover {
    color: var(--color-four);
}
.review-modal-window-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 32px;
}
.review-modal-window-title-color {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    color: var(--color-four);
}
.review-modal-phone {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}
.review-modal-form-field {
    width: 263px;
    height: 45px;
    padding: 14px 18px;
    background-color: transparent;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    letter-spacing: -0.28px;
    font-weight: 400;
}
.review-modal-form-phone-field {
    position: relative;
    display: flex;
    align-items: center;
}
.review-modal-form-phone-field input {
    padding-left: 102px;
}
.review-modal-form-icon {
    position: absolute;
    top: 10px;
    left: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 25px;
    width: 74px;
    border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}
.review-modal-text-field {
    width: 263px;
    height: 91px;
    padding: 14px 18px;
    background-color: transparent;
    border: 1px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    resize: none;
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    letter-spacing: -0.28px;
    font-weight: 400;
}
.review-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 18px;
}
.review-modal-button {
    width: 93px;
    height: 41px;
    border-radius: 100px;
    background-color: var(--color-four);
    color: var(--color-two);
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.review-modal-button:focus,
.review-modal-button:hover {
    background-color: var(--color-twelve);
    color: var(--color-four);
}

@media screen and (min-width: 768px) {
    .review-modal-body {
        width: 517px;
        height: 628px;
        background-color: var(--color-eight);
        border-radius: 15px;
        padding: 40px;
    }
    .review-modal-close {
        top: 24px;
        right: 24px;
        width: 28px;
        height: 28px;
        padding: 6px;
    }
    .review-modal-window-title {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.72px;
        margin-bottom: 40px;
    }
    .review-modal-window-title-color {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.72px;
        color: var(--color-four);
    }
    .review-modal-phone {
        font-size: 18px;
        letter-spacing: -0.36px;
    }
    .review-modal-form-field {
        width: 100%;
        height: 66px;
        padding: 22px 24px;
        font-size: 18px;
        letter-spacing: -0.36px;
    }
    .review-modal-form-phone-field input {
        padding-left: 177px;
    }
    .review-flag-icon {
        width: 32px;
        height: 24px;
    }
    .review-modal-form-icon {
        top: 17px;
        left: 24px;
        gap: 18px;
        height: 32px;
        width: 125px;
    }
    .review-modal-text-field {
        width: 100%;
        height: 137px;
        padding: 22px 24px;
        font-size: 18px;
        letter-spacing: -0.36px;
    }
    .review-form {
        gap: 18px;
    }
    .review-modal-button {
        width: 117px;
        height: 45px;
    }
}