.container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
}
.review-section {
    margin-bottom: 72px;
}
.review-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-title {
    color: var(--color-four);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.review-title-black {
    color: var(--color-one);
}
.review-content-box {
    width: 335px;
    height: 200px;
    padding: 56px 18px 42px 18px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
    margin-bottom: 32px;
}
.review-person-name {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 24px;
}
.review-content {
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.28px;
}
.review-button {
    width: 165px;
    height: 41px;
    padding: 12px 28px;
    border: 1px solid var(--color-four);
    border-radius: 100px;
    background-color: transparent;
    color: var(--color-one);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.review-button:focus,
.review-button:hover {
    background-color: var(--color-four);
    border: none;
    color: var(--color-two);
}
@media screen and (min-width: 768px){
    
}