.subscribe-section {
  width: 374px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.subscribe-title {
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  max-width: 291px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.subscribe-title-section {
  max-width: 1440px;
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
  padding: 188px 0;

  background-image: url('../images/subscribe-images/Subcribe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .title-section {
    background-image: url('../images/subscribe-images/Subcribe@2x.jpg');
  }
}

.subscribe-paragraph {
  max-width: 326px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
}

.subscribe-button {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 350px;
  border-radius: 15px;
  background: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: flex;
  background: none;
  color: #ffffff;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  align-items: center;
  position: absolute;
  top: 15px;
  padding: 0;
  right: 14px;
  z-index: 1;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  fill: #fd9222;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translateY(100%);
}

.subscribe-image {
  overflow: hidden;
  margin-bottom: 24px;
  height: 169px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: url('../images/subscribe-images/unsplash1.jpg');
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe-image {
    background-image: url('../images/subscribe-images/unsplash1@2x.jpg');
  }
}

.modal .title {
  color: black;
  text-align: start;
  margin-bottom: 24px;
  margin-left: 24px;
}
.orange-span {
  color: #fd9222;
}

.modal-form {
  display: flex;
  align-items: center;
  max-width: 263px;
  margin: 0 auto;
}
.modal-label {
  max-width: 263px;
}
.modal-input {
  background-color: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  color: #404040;
  border-radius: 25px;
  padding: 14px 18px;
  width: 263px;

  height: 45px;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}

.modal-input:hover,
.modal-input:active {
  border: 1.5px solid #fd9222;
  outline: none;
}

.modal-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.subscribe-modal-button {
  position: absolute;
  right: 24px;
  background-color: #fd9222;
  color: var(--color-white-background);
  display: flex;
  align-items: center;
  padding: 14px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100px;
  height: 45px;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 25px;
}

.subscribe-modal-button:hover,
.subscribe-modal-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
