* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.section {
  background-color: #1e1823;
  width: 374px;
}
.ts_second {
  border-radius: 100px;
  background: var(--main-company-color);
  border: none;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  cursor: pointer;
}

.ts_second:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.ts_photo {
  width: 335px;
  height: 464px;
  border-radius: 15px;
}

.ts_text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.28px;
}

.ts_textt {
  padding-top: 20px;
  padding-bottom: 32px;
}

.ts_hidden {
  display: none;
}

.ts_button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--styl-colorr);
  background-color: var(--background-colorr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-modal-backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #fafafa;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding: 0 24px;
  z-index: 10;
  overflow: scroll;
}

.hero-modal-close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: var(--background-color-2);
  fill: var(--main-page-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-logo {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  padding: 32px 0;
}

.hero-logo {
  color: #111;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.hero-modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  margin-bottom: 32px;
}

.hero-modal-choco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  width: 263px;
  height: 85px;
  padding: 0 16px;
  margin-bottom: 8px;
}

.hero-modal-choco-button {
  padding: 6px 16px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}

.hero-modal-labels {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16em;
  letter-spacing: -0.24px;
}

.hero-modal-input {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  width: 263px;
  height: 45px;
  padding-left: 18px;
  cursor: pointer;
}

.hero-modal-textarea {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  width: 263px;
  min-height: 91px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  padding-left: 18px;
  padding-top: 16px;
  cursor: pointer;
}

.hero-modal-input:focus,
.hero-modal-textarea:focus,
.hero-modal-input:hover,
.hero-modal-textarea:hover {
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.hero-modal-first-box {
  margin-bottom: 18px;
}

.hero-modal-second-box {
  margin-top: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-modal-third-box {
  margin-top: 14px;
}

.hero-modal-form-icon {
  position: absolute;
  top: 10px;
  left: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 25px;
  width: 74px;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}

.hero-modal-phone {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.hero-mastercard-icon {
  position: absolute;
  top: 2px;
  left: 200px;
  width: 32px;
  height: 21px;
}

.hero-modal-form-icon {
  position: absolute;
  top: 10px;
  left: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 25px;
  width: 74px;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}

.hero-modal-phone {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}

.hero-modal-submit-button {
  border-radius: 100px;
  background: #fd9222;
  border: none;
  display: flex;
  justify-content: center;
  width: 109px;
  height: 41px;
  margin-bottom: 32px;
}

.hero-send {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.ts_top {
  color: #111;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.ts_first {
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 14px;
}

.ts_second {
  border-radius: 100px;
  background: var(--main-company-color);
  border: none;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 144px;
  height: 45px;
}

.ts_click {
  display: flex;
  width: 120px;
  height: 41px;
  padding: 12px 28px;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #fd9222;
}

.ts_topp {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.ts_tilte {
  text-align: center;
  padding-bottom: 32px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 767px;
  }

  .image {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .ts_flex {
    display: flex;
  }
  .hero-modal-box {
    padding: 48px;
    top: 700px;
  }

  .hero-modal-list {
    margin-bottom: 40px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .hero-modal-choco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 160px;
    height: 196px;
  }

  .hero-modal-choco-button {
    padding: 8px 27px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fafafa;
  }

  .hero-modal-labels {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28em;
    letter-spacing: -0.28px;
  }

  .hero-modal-input {
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    width: 513px;
    height: 66px;
    padding-left: 24px;
    cursor: pointer;
  }

  .hero-modal-textarea {
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    width: 513px;
    min-height: 137px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    resize: none;
    padding-left: 24px;
    padding-top: 22px;
    cursor: pointer;
  }

  .hero-modal-input:focus,
  .hero-modal-textarea:focus,
  .hero-modal-input:hover,
  .hero-modal-textarea:hover {
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  }

  .hero-modal-first-box {
    margin-bottom: 18px;
  }

  .hero-modal-second-box {
    margin-top: 8px;
  }

  .hero-modal-form-icon {
    position: absolute;
    top: 20px;
    left: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 25px;
    width: 74px;
    border-right: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  .hero-modal-submit-button {
    border-radius: 100px;
    background: #fd9222;
    border: none;
    display: flex;
    justify-content: center;
    width: 133px;
    height: 45px;
    margin-bottom: 48px;
  }

  .hero-send {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
  }

  .hero-button-third-flex {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 153px;
  }
  .ts_first {
    padding-top: 32px;
    padding-left: 180px;
    text-align: center;
    display: flex;
    gap: 14px;
  }

  .ts_photo {
    width: 344px;
    padding-right: 16px;
  }

  .ts_photo {
    width: 344px;
  }

  .ts_tilte {
    padding-bottom: 50px;
  }

  .ts_text {
    width: 306px;
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.28px;
  }

  .ts_textt {
    width: 306px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .ts_top {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding-bottom: 72px;
  }

  .container {
    margin: 0 auto;
    padding: 0 32px;
  }

  .ts_hidden {
    display: block;
  }

  .ts_desktop {
    display: flex;
    gap: 16px;
  }

  .ts_photo {
    width: 368px;
  }

  .ts_top {
    padding-top: 128px;
    padding-bottom: 50px;
  }

  .ts_fot {
    padding-right: 16px;
  }

  .ts_textt {
    width: 306px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .ts_first {
    padding-top: 32px;
    padding-left: 567px;
    text-align: center;
    display: flex;
    gap: 14px;
  }
}
